body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: Roboto;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

header{
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.title {
    width: auto;
    padding: 10px;
    margin-top: 20px;

    background: rgb(253, 48, 48);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    color: white;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
}

.title{
    text-align:center; 
    background-color: blueviolet;
    color: aliceblue;

    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;

}



div {
    border: 1px solid darkgrey
}

.items {
    padding: 10px;
    display: flex;
    gap: 20px;
}

.item {
    width: 200px;
    height: 320px;
    margin-bottom: 10px;

    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 3);
}

.contacts p {
    margin: 3px;
}

.contacts p:first-child {
    font-weight: bold;
}

.contacts p:last-child {
    border-left: 3px solid rgb(253, 48, 48);;
}

.license {
    font-size: 9px;
    text-align: justify;
    color: rgb(120, 120, 120)

}